.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 90px;

    &:focus {
        outline: none;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 27px;
    display: none;

    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev, .slick-next {
    margin: 0 -22px;
    height: 45px;
    width: 24px;
}
.slide-content {
    display: block;
    position: relative;
}
.fullproductlist .productShadow, .similar-products-slider .productShadow {
    display: none;
    width: 100%;
    height: 25px;
    border-radius: 50%;
    z-index: -100;
    left: 0;
    right: 0;
    position: absolute;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, .2) 0, transparent 65%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, .2) 0, transparent 65%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0, transparent 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=1);
}
.similar-products-slider .productShadow {
    bottom: 40px;
}
.productList {
    .slick-list {
        padding: 60px 0px !important;
    }
}
.news-img-slider {
    .slick-list {
        padding: 0px;
    }
    .slick-slide {
        margin: 0px;
    }
    .slick-prev {
        left: 0px;
        top: calc(50% + 32px);
        width: 25px;
        height: 47px;
        background-image: url('../img/homepage-slider-arrow-left.png');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

        &:before {
            display: none;
        }
        @media screen and (max-width: 500px) {
            left: 15px;
        }
    }
    .slick-next {
        right: 0px;
        top: calc(50% + 32px);
        width: 25px;
        height: 47px;
        background-image: url('../img/homepage-slider-arrow-right.png');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

        &:before {
            display: none;
        }
        @media screen and (max-width: 500px) {
            right: 15px;
        }
    }
    .news-article {
        padding-bottom: 0px;
    }
}
.news-text-slider {
    .slick-list {
        padding: 0px;
    }
    .slick-slide {
        margin: 0px;
    }
    .news-article {
        padding-top: 0px;
    }
}
.homepage-slider {
    margin-bottom: 0px !important;
    margin-top: 52px;

    @media screen and (min-width: 1000px) {
        margin-top: 121px;
    }
    .section-container {
        @media screen and (max-width: 1200px) {
            margin: 90px auto 0px;
        }
    }
    .hero-slide {
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: -1px;
        height: 1230px;
        width: 100%;

        @media screen and (max-width: 2500px) {
            height: 1030px;
        }
        @media screen and (max-width: 2000px) {
            height: 730px;
        }
        h1 {
            text-align: left;
            width: 70%;
            max-width: 800px;
            margin-bottom: 0px;
            color: $white;

            @media screen and (max-width: 1200px) {
                line-height: 4rem;
                font-size: 4rem !important;
            }
            @media screen and (max-width: 945px) {
                width: 80%;
            }
            @media screen and (max-width: 800px) {
                line-height: 3rem;
                font-size: 3rem !important;
            }
        }
        .subhead {
            width: 70%;
            max-width: 440px;
            font-size: 120%;
            line-height: 160%;
            margin: 40px 0px 20px;
            color: $white;
        }
        @media screen and (max-width: 1200px) {
            height: 600px;
        }
        @media screen and (max-width: 800px) {
            height: 500px;
        }
    }
    .button {
        box-shadow: none;
        font-size: 18px;
    }
    .slide {
        position: relative;
        height: 1300px;
        overflow: hidden;

        @media screen and (max-width: 2000px) {
            height: 1100px;
        }
        @media screen and (max-width: 2000px) {
            height: 850px;
        }
        @media screen and (max-width: 1200px) {
            height: 690px;
        }
        @media screen and (max-width: 800px) {
            height: 500px;
        }
        img {
            width: 100%;
            max-width: 600px;
        }
    }
    .slick-list {
        padding: 0px;
    }

    .slick-slide {
        margin: 0px;
    }
    .slick-dots {
        li {
            width: 15px;
            height: 15px;
            margin: 0px 15px;

            @media screen and (max-width: 500px) {
                margin: 0px 10px;
            }
        }
        @media screen and (max-width: 800px) {
            bottom: 10px !important;
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: 85px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 999;

    @media screen and (max-width: 1200px) {
        bottom: 35px;
    }
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;
    border: 2px solid $blue;
    border-radius: 10px;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots {
    .slick-active {
        background-color: $blue;
    }
}
.product-details-title-slider {
    width: 100%;

    .slick-list {
        padding: 0px;
    }
    .slick-slide {
        margin: 0px;
        max-width: none;
    }
}
.similar {
    background-color: $white;
    padding: 60px 5% 0px;
    position: relative;
    z-index: 1;

    &__container {
        width: 100%;
        max-width: 1500px;
        margin: 0px auto;
        padding: 0px;
    }
    &__heading {
        text-align: center;
        margin-bottom: -10px;
    }
    &__brands {
        margin: 30px auto 0px;

        p {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 100%;
            display: inline-block;
            margin-bottom: 0px;

            @include breakpoint(medium) {
                font-size: 80%;
            }
        }
        .filters {
            margin-left: -40px;
            display: inline-block;
            text-align: center;

            li {
                display: inline-block;

                input {
                    display: none;

                    &:checked {
                        + label {
                            color: $blue;

                            &:after {
                                background-color: $blue;
                            }
                        }
                    }
                }
                label {
                    color: $yellow;
                    font-size: 120%;
                    transition: .2s ease-in-out;

                    @include breakpoint(medium) {
                        font-size: 100%;
                    }
                    &:after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $yellow;
                        position: relative;
                        bottom: 7px;
                        transition: .2s ease-in-out;
                    }
                    &:hover {
                        color: lighten($yellow, 10%);

                        &:after {
                            background-color: lighten($yellow, 10%);
                        }
                    }
                }
            }
        }
    }
    .similar-products-slider {
        .slick-prev {
            font-size: 0px;
            float: left;
            background-image: url('../img/gray-left-arrow.png');
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            left: 30px;
            z-index: 1;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:before {
                display: none;
            }
        }
        .slick-next {
            font-size: 0px;
            float: right;
            background-image: url('../img/gray-right-arrow.png');
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            right: 30px;
            z-index: 1;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:before {
                display: none;
            }
        }
    }
    .view-link {
        display: inline-block;
        margin-top: 35px;
        width: auto;
        opacity: 0;
        transition: .4s ease-in-out;

        &:after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $red;

        }
        &:hover {
            color: $red;
        }
    }
    .slide-content {
        text-align: center;
    }
    .product {
        &:hover {
            + .productShadow {
                + .view-link {
                    opacity: 1;
                }
            }
        }
    }
    .productList {
        .slick-list {
            padding: 60px 0px 40px !important;
            margin: 0px 40px;
        }
    }
}
.productList {
    .slick-prev, .slick-next {
        top: 42% !important;
    }
}
.recipes-slider {
    width: 90%;
    margin: 0px auto;

    .slick-list {
        padding: 60px 0px;

        @media screen and (max-width: 1074px) {
            padding: 60px 0px 50px;
        }
    }
    .slick-prev {
        font-size: 0px;
        float: left;
        background-image: url('../img/gray-left-arrow.png');
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: -30px;
        z-index: 1;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: .2s ease-in-out;

        @media screen and (max-width: 1074px) {
            left: 0px;
        }
        &:before {
            display: none;
        }
    }
    .slick-next {
        font-size: 0px;
        float: right;
        background-image: url('../img/gray-right-arrow.png');
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: -30px;
        z-index: 1;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: .2s ease-in-out;

        @media screen and (max-width: 730px) {
            right: 0px;
        }
        &:before {
            display: none;
        }
    }
    .card__card-heading {
        margin-bottom: 40px;
    }
}
.hide-this {
    display: none !important;
}
.show-this {
    display: block !important;
}
.container-time {
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
.title {
    font-size: 38px;
    color: $black;
    font-weight: 300;
}
.ecology-mobile-nav__wrapper {
    display: flex;
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
    justify-content: flex-start;

    h3 {
        font-weight: $global-weight-bold;
        margin-bottom: 20px;
    }
}
.ecology {
    width: 100%;
    max-width: 1110px;
    margin: 0px auto;
    
    &-nav {
        z-index: 20;
        width: 90%;
        max-width: 1195px;
        margin: 0 auto;

        .slick-prev:before, .slick-next:before {
            font-size: 40px;
            line-height: 1;
            opacity: 1 !important;
        }
        &__mobile {
            color: $blue;
            text-align: center;

            li {
                margin-top: auto;
                display: inline-block;
                width: 100%;
                position: relative;

                @include breakpoint(medium) {
                    width: auto;
                    margin-top: -10px;
                }
                span {
                    display: inline-block;

                    &:after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $blue;
                        position: relative;
                        bottom: 5px;
                        opacity: 0;
                        transition: .2s ease-in-out;
                    }
                }
                &:hover {
                    margin-bottom: -2px;

                    span {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &__item {
            text-align: left;
            background: transparent;
            position: relative;
            cursor: pointer;
            font-size: 120%;

            span {
                margin-top: 0px;

                @include breakpoint(medium) {
                    margin-top: 40px;
                }
            }
            h3 {
                font-weight: $global-weight-bold;
            }
            &:focus {
                outline: -webkit-focus-ring-color 0 !important;
                outline-color: $white !important;
                outline-style: auto !important;
                outline-width: 0 !important;
            }
        }
    }
    &-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0px auto;
        margin-top: 9em;
        transform: translateY(-7em);
    }
    &-slider {
        margin: 0 auto -5em !important;
        max-width: 1140px;
        width: 70%;

        @include breakpoint(medium) {
            margin: 0 auto -13em !important;
            width: 80%;
        }
        .slick-prev, .slick-next {
            top: 50%;

            @include breakpoint(medium) {
                top: 40%;
            }
        }
        .slick-prev:before {
            content: url(../img/arrow-left-large.png);
        }
        [dir="rtl"] .slick-prev:before {
            content: url(../img/arrow-left-large.png);
        }
        [dir="rtl"] .slick-next {
            left: -10px;
            right: auto;
        }
        .slick-next:before {
            content: url(../img/arrow-right-large.png);
        }
        [dir="rtl"] .slick-next:before {
            content: url(../img/arrow-right-large.png);
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 1rem 0;
            list-style-type: none;

            li {
                margin: 0 .5rem;
                display: block;
                width: .8rem;
                height: .8rem;
                padding: 0;
                border: 2px solid $white !important;
                border-radius: 100%;
                background-color: transparent;
                transform: translateY(1.4em);
                text-indent: -9999px;

                @include breakpoint(medium) {
                    transform: translateY(-5em);
                }
            }
            li.slick-active {
                background-color: $white;
            }
        }
    }
    .slick-list {
        height: auto;
    }
    &-slide {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        outline: none;
        width: 100%;
        z-index: 1;
        margin: 0px auto;

        @include breakpoint(medium) {
            padding-bottom: 8em;
        }
        &__image {
            width: 100%;
            z-index: 1000;
            margin: 0px auto;
            max-width: 750px;
        }
        &__content {
            z-index: 15;
            position: absolute;
            top: 60%;
            background: transparent;
            width: 60%;
            left: 10%;
            padding-top: 30px;
            opacity: 0;
            transition: opacity 1s;

            @media (max-width: 500px) {
                width: 100%;
                // transform: translate(-50%, 0px);
            }
        }
    }
    &-year {
        z-index: 500;
        color: $white;
        padding: 15px 26px;
        transition: opacity 1.2s;
        position: absolute;
        left: 6%;
        top: 55%;
        opacity: 0;
    }
    &-title {
        color: $white;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;

    }
    &-text {
        font-size: 18px;
        line-height: 28px;
        color: $white;
    }
}
.ecology-nav__mobile {
    margin-bottom: 0px;
    margin-top: -20px;

    @include breakpoint(medium) {
        margin-top: -40px;
    }
    .slick-list {
        padding: 2px 0px 20px;
    }
    .slick-track {
        text-align: center;
        width: 100% !important;

        @include breakpoint(medium) {
            width: auto;
        }
    }
    .ecology-nav__item {
        display: inline-block !important;

        &.slick-current {
            font-weight: bold;
    
            span {
                &:after {
                    display: block;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $blue;
                    position: relative;
                    bottom: 5px;
                    opacity: 1;
                    transition: .2s ease-in-out;
                }
                &:before {
                    display: none;
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $blue;
                    position: absolute;
                    bottom: -20px;
                    left: calc(50% - 5px);
                    opacity: 1;
                    transition: .2s ease-in-out;
    
                    @include breakpoint(medium) {
                        display: block;
                    }
                }
            }
        }
    }
}
.slick-active {
    &:after {
        background-color: rgba($white, 0);
    }
    .ecology-year {
        opacity: 1;
    }
    .ecology-slide__content {
        opacity: 1;
    }
}
.eminem {
    background: $white;
    padding-bottom: 50px;
}
.slick-center {
    .ecology-slide__image {
        img {
            box-shadow: -1px 51px 33px -35px rgba(0, 0, 0, 0.2);
        }
    }
}
.ecology-slider {
    .slick-dots {
        bottom: 85px !important;

        @media screen and (max-width: 700px) {
            bottom: 60px !important;
        }
        @media screen and (max-width: 639px) {
            bottom: 30px !important;
        }
    }
}
.ecology-nav {
    .slick-prev {
        @media screen and (max-width: 1300px) {
            left: 25px;
        }
        @media screen and (max-width: 639px) {
            left: 10px;
        }
    }
    .slick-next {
        @media screen and (max-width: 1300px) {
            right: 25px;
        }
        @media screen and (max-width: 639px) {
            right: 10px;
        }
    }
    .slick-slide {
        @media screen and (max-width: 1300px) {
            margin: 0px 60px;
        }
        @media screen and (max-width: 639px) {
            margin: 0px 30px;
        }
    }
}
* {
    box-sizing: border-box;
}
.container-time {
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
.title {
    font-size: 38px;
    color: $black;
    font-weight: 300;
}
.timeline-mobile-nav__wrapper {
    justify-content: center;
    text-align: center;
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
    p {
        font-size: 100%;
        color: lighten($dark-gray, 0);
        transform: translateY(-20px);
    }
}
.timeline {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    justify-content: center;

    @include breakpoint(medium) {
        margin-top: 80px;
    }
    p {
        font-size: 90%;
        color: #ababab;
        margin-bottom: 40px;
    }
    &-line {
        display: none;

        @include breakpoint(medium) {
            display: block;
            border-bottom-style: solid;
            border-bottom-width: 1.5px;
            border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgba(120, 120, 120, 1) 50%, rgba(0, 0, 0, .0) 100%) 100% 0 100% 0/0px 0 1px 0 stretch;
            border-top: none;
            overflow-y: auto;
            transform: translateY(-102px);

            @include breakpoint(medium) {
                transform: translateY(-11px);
            }
        }
    }
    &-nav {
        z-index: 20;

        @include breakpoint(medium) {
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;
        }
        &__mobile {
            margin-bottom: 50px;

            li {
                font-size: 140%;
                margin: 5px;
            }
        }
        &__item {
            text-align: center;
            background: transparent;
            position: relative;
            cursor: pointer;
            min-width: 20px;
            min-height: 20px;
            transform: translateX(0%);
            opacity: 1 !important;
            color: #ababab;

            @include breakpoint(medium) {
                min-width: 40px;
                min-height: 40px;
                text-align: center;
                opacity: 0.5;
                background: transparent;
                position: relative;
                cursor: pointer;
                transform: translateX(-58%);
                font-size: 130%;
                margin-top: 20px;
            }
            &:focus {
                outline: -webkit-focus-ring-color 0 !important;
                outline-color: $white !important;
                outline-style: auto !important;
                outline-width: 0 !important;
            }
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 100%;
                background-color: #ababab;
                transition: .2s;
                bottom: 31%;
                left: 50%;
                transform: translateX(-50%);
                display: none;

                @include breakpoint(medium) {
                    display: inline-block;
                }
            }
            &.slick-current {
                transition: all .8s;
                color: $secondary-color;
                opacity: 1;
                font-size: 250%;
                margin-top: 10px;

                &::before {
                    background-color: $secondary-color;
                    bottom: 18%
                }
                &::after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border: 1px solid $secondary-color;
                    position: absolute;
                    border-radius: 50%;
                    background-color: transparent;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: 13%;
                    transition: .2s;
                    display: none;

                    @include breakpoint(medium) {
                        display: block;
                    }
                }
            }
        }
    }
    &-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        margin: 3em auto 20px;
    }
    &-slider {
        margin: 0 auto;
        width: 100%;

        @include breakpoint(medium) {
            margin: 0 auto;
            height: 100%;
            max-width: 800px;
        }
    }
    .slick-list {
        height: 80px;
        padding: 0 180px !important;
    }
    .slick-track {
        height: 100%;
    }
    &-slide {
        position: relative;
        height: 100%;
        padding-bottom: 60px;
        padding-top: 0;
        background-repeat: no-repeat;
        outline: none;
        background-size: auto 400px, cover;
        background-position: top;
        width: 100%;
        z-index: 1;
        margin: 0 15px;

        @include breakpoint(xmedium) {
            margin: 0 100px;
        }
        &__image {
            box-shadow: $card-shadow;
            width: 100%;
            z-index: 1000;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        &__content {
            z-index: 15;
            position: absolute;
            bottom: 100px;
            background: transparent;
            width: 60%;
            left: 60px;
            transition: opacity 1s;

            @media (max-width: 500px) {
                width: calc(100% - 80px);
                bottom: 80px;
                left: 40px;
            }
        }
    }
    &-year {
        z-index: 500;
        color: $black;
    }
    &-title {
        color: $black;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;

        @media (max-width: 500px) {
            font-size: 22px;
            line-height: 26px;
        }
    }
    &-text {
        font-size: 18px;
        line-height: 28px;
        color: $white;
    }
}
.slick-active {
    &:after {
        background-color: rgba($white, 0);
    }
    .timeline-year {
        opacity: 1;
    }
    .timeline-slide__content {
        opacity: 1;
    }
}