<footer class="show-for-medium">
    <div class="footer">
        <div>
            <p>Company</p>
            <ul>
                <li><a href="bios-template.html">About Us</a></li>
                <li><a href="our-values.html">Our Values</a></li>
                <li><a href="products-landing.html">Our Products</a></li>
                <li><a href="">Events</a></li>
            </ul>
        </div>
        <div>
            <p>Brands</p>
            <ul>
                <li><a href="http://herrs.com" target="_blank">Herr's</a></li>
                <li><a href="http://goodnaturedselects.com" target="_blank">Good Natured Selects</a></li>
                <li><a href="http://www.golitesnacks.com" target="_blank">Go Lite!</a></li>
                <li><a href="http://theflavormill.com" target="_blank">Flavor Mill</a></li>
                <li><a href="" target="_blank">Cheyenne</a></li>
            </ul>
        </div>
        <div>
            <p>Resources</p>
            <ul>
                <li><a href="">Employees</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="primary-template.html">Contact Us</a></li>
                <li><a href="videos-template.html">Videos</a></li>
            </ul>
        </div>
        <div>
            <p>Trade Partners/ Selling Opportunities</p>
            <ul>
                <li><a href="branch-locations.html">Branches</a></li>
                <li><a href="distributors-vending.html">Distributors & Vending</a></li>
                <li><a href="">National Sales</a></li>
                <li><a href="">International Sales</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright show-for-medium">
    <div class="content grid-margin-x grid-x align-center">
        <div class="cell small-6 auto">
            <p>&copy;Herr Foods Inc.</p>
        </div>
        <ul class="cell small-6 medium-6 large-3">
            <li><a href="information-template.html">Terms of Use</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Sitemap</a></li>
        </ul>
    </div>
</div>