<div id="nutrition-modal" class="nutrition-modal off-canvas position-bottom" data-off-canvas data-transition="overlap">
    <div class="nutrition-modal__container">
        <button id="close-modal-{{modal-number}}" class="close-animatedModal nutrition-modal__close-modal" data-close>
            <picture>
                <source media="(min-width: 640px)" srcset="assets/img/close.svg">
                <img src="assets/img/close-2.svg" alt="Search icon">
            </picture>
        </button>
    </div>
    <div class="nutrition-modal__modal-content">
        <div class="grid-x">
            <div class="cell medium-6 nutrition-modal__leftside">
                <img src="assets/img/nutrition-facts.png" alt="Nutrition Facts" />
            </div>
            <div class="cell medium-6 nutrition-modal__rightside">
                <div class="rightside__container">
                    <div class="product-bag">
                        <div class="product">
                            <img src="assets/img/honey-sriracha.png" alt="Honey Sriracha" />
                        </div>
                        <div class="shadow">
                            <img src="assets/img/shadow.png" alt="Bag shadow" />
                        </div>
                    </div>
                    <div class="ingredients">
                        <img src="assets/img/ingredients.png" alt="" />
                    </div>
                    <div class="social-share">
                        <ul>
                            <li><a href="" class="share-fb"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="" class="share-tw"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="" class="share-ig"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>