<div id="refine-modal" class="refine-modal off-canvas position-bottom" data-off-canvas data-transition="overlap">
    <img src="assets/img/refine-icon.svg" class="refine-icon" alt="Refine icon" />
    <p class="refine-modal__refine-text">Refine</p>
    <div class="refine-modal__container">
        <button id="close-refine-modal" class="close-animatedModal refine-modal__close-modal" data-close>
            <img src="assets/img/close.svg" alt="Close icon">
        </button>
    </div>
    <div class="grid-x refine-modal__modal-content">
        <div class="sidebar"></div>
        <div class="cell refine-modal__modal-button">
            <button class="button large secondary" data-close>Confirm Selections</button>
        </div>
    </div>
</div>