<div id="search-modal" class="search-modal off-canvas position-bottom" data-off-canvas data-transition="overlap">
    <img src="assets/img/large-search-icon.svg" class="search-icon-mobile search-modal__search-icon" alt="Search icon" />
    <p class="search-modal__search-text">Search</p>
    <div class="search-modal__container">
        <button id="close-modal" class="close-animatedModal search-modal__close-modal" data-close>
            <picture>
                <source media="(min-width: 931px)" srcset="assets/img/close.svg">
                <img src="assets/img/close-2.svg" alt="Close icon">
            </picture>
        </button>
    </div>
    <div class="search-modal__modal-content">
        <form class="search-modal__modal-content__form">
            <input type="text" class="search-modal__modal-content__search-input" placeholder="Search anything" />
            <input type="reset" value="Clear" class="search-modal__modal-content__clear-btn" />
        </form>
        <!--<p class="search-modal__results-indicator">Results (4)</p>-->
        <div class="search-modal__results">
            <p class="search-modal__results-msg">Your results will display here</p>
            <!--<ul>
                <li class="search-modal__results__list-item">
                    <a href="search-results.html" class="search-modal__results__list-item__link">Mary Lout Rollin’s Tortilla <strong>Dip</strong></a>
                </li>
                <li class="search-modal__results__list-item">
                    <a href="search-results.html" class="search-modal__results__list-item__link">Seven-Layer Mexican <strong>Dip</strong></a>
                </li>
                <li class="search-modal__results__list-item">
                    <a href="search-results.html" class="search-modal__results__list-item__link">Sour Cream & Onion <strong>Dip</strong></a>
                </li>
                <li class="search-modal__results__list-item">
                    <a href="search-results.html" class="search-modal__results__list-item__link">Teresa Stockman’s Fiesta <strong>Dip</strong></a>
                </li>
            </ul>-->
        </div>
    </div>
</div>
