<div class="family-brands">
    <h3>Our Family of Brands</h3>
    <div class="family-brand-logos">
        <a href="http://herrs.com" target="_blank"><img src="{{root}}assets/img/brands/herrs-logo.png" alt=""></a>
        <a href="http://goodnaturedselects.com" target="_blank"><img src="{{root}}assets/img/brands/good-logo-new.png" alt=""></a>
        <a href="http://www.golitesnacks.com" target="_blank"><img src="{{root}}assets/img/brands/go-logo.png" alt=""></a>
        <a href="http://theflavormill.com" target="_blank"><img src="{{root}}assets/img/brands/flavor-logo.png" alt=""></a>
        <img src="{{root}}assets/img/brands/chey-logo.png" alt="">
    </div>
</div>
<!-- <div class="family-brands show-for-small-only">
    <h3>Our Family of Brands</h3>
    <div class="family-brand-logos">
        <a href="http://herrs.com" target="_blank"><img src="{{root}}assets/img/brands/herrs-logo.png" alt=""></a>
        <a href="http://goodnaturedselects.com" target="_blank"><img src="{{root}}assets/img/brands/good-logo-new.png" alt=""></a>
        <a href="http://www.golitesnacks.com" target="_blank"><img src="{{root}}assets/img/brands/go-logo.png" alt=""></a>
        <a href="http://theflavormill.com" target="_blank"><img src="{{root}}assets/img/brands/flavor-logo.png" alt=""></a>
        <img src="{{root}}assets/img/brands/chey-logo.png" alt="">
    </div>
</div> -->