<div class="callout large-6 medium-12 columns">
    <img src="{{callout-img-1}}" alt="" class="callout__callout-img">
    <div class="callout__callout-overlay">
        <h3 class="callout__callout-heading">{{callout-heading-1}}</h3>
        <p class="callout__callout-text">{{callout-text-1}}</p>
        <a href="{{callout-link-1}}" class="button callout__callout-button">{{callout-btn-text-1}}</a>
    </div>
</div>
<div class="callout large-6 medium-12 columns">
    <img src="{{callout-img-2}}" alt="" class="callout__callout-img">
    <div class="callout__callout-overlay">
        <h3 class="callout__callout-heading">{{callout-heading-2}}</h3>
        <p class="callout__callout-text">{{callout-text-2}}</p>
        <a href="{{callout-link-2}}" class="button callout__callout-button">{{callout-btn-text-2}}</a>
    </div>
</div>