

<div class="section cell large-{{large-breakpoint}} medium-{{medium-breakpoint}} {{filters}}">
    <div class="card {{card-class}}">
        <div class="card__card-divider">
            <i class="card__card-icon far fa-{{divider-icon}}"></i>
            <span class="card__card-time">{{{divider-text}}}</span>
        </div>
        <div class="card__card-section">
            <span class="card__card-tag">{{card-tag}}</span>
            <a href="{{card-link}}" class="card__card-link">
                <img src="assets/img/{{card-img}}" alt="{{card-img-alt}}" class="card__card-img" />
            </a>
            <div class="card__card-container">
                <h4 class="card__card-heading secondary">{{card-title}}</h4>
                <p class="card__card-text">{{card-text}}</p>
                <a href="{{card-link}}" class="card__card-view-link">{{card-link-text}}</a>
            </div>
        </div>
    </div>
</div>

