<div class="grid-x info-box {{info-box-theme}}" style="background-image: url('assets/img/{{info-box-img}}'); background-position: {{bg-position}};">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-7 info-box__leftside">
                <div class="info-box__leftside__wrapper">
                    {{{info-box-left}}}
                </div>
            </div>
            <div class="cell large-5 info-box__rightside">
                {{{info-box-right}}}
            </div>
        </div>
    </div>
</div>