<div class="tour-badge">
    <a href="" class="tour-badge__closed">
        <div class="closed__closed-state">
            <p class="closed-state__text">Open</p>
            <img src="assets/img/arrow-left-tiny.png" alt="" class="closed-state__arrow-img" />
        </div>
    </a>
    <a href="secondary-template.html" class="tour-badge__open">
        <div class="open__open-state">
            <img src="assets/img/tour-badge.png" alt="" class="open-state__badge-img" />
            <span class="open-state__hide-badge">Hide <img src="assets/img/badge-close.png" alt="" class="open-state__close-img" /></span>
            <p class="open-state__text">Learn More <img src="assets/img/arrow-right-tiny.png" alt="" class="open-state__arrow-img" /></p>
        </div>
    </a>
</div>