<div class="grid-x nav-wrapper">
  <!-- <div class="cell small-3 brand-logo">
    <img src="{{root}}assets/img/brands/herrs-logo.png" alt="" srcset="">
  </div> -->
  <div class="cell small-6 medium-9">
    <ul class="menu main-nav">
      <li><a href="products-landing.html">Our Products</a></li>
      <li><a href="nutrition.html">Nutrition</a></li>
      <li><a href="#">Buy Online</a></li>
      <li><a href="recipes-landing.html">Recipes</a></li>
      <li><a href="visit.html">Visit Us</a></li>
      <li><a href="news-landing.html">The Latest</a></li>
      <li><a href="our-values.html">Our Values</a></li>
      <li> {{> social-navigation}}</li>
    </ul>
  </div>
</div>