<div class="menu-modal off-canvas  position-bottom" id="offCanvasLeftOverlap" data-off-canvas data-transition="overlap"><div class="grid-x nav-wrapper ">
  <div class="cell small-10">
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <ul class="menu main-nav">
      <li class="uppercase"><a href="bios-template.html">About us</a></li>
      <li class="uppercase"><a href="primary-template.html">Contact us</a></li>
      <li class="uppercase underline"><a href="#">Find our products</a></li>
      <li><a href="products-landing.html">Our Products</a></li>
      <li><a href="nutrition.html">Nutrition</a></li>
      <li><a href="#">Buy Online</a></li>
      <li><a href="recipes-landing.html">Recipes</a></li>
      <li><a href="visit.html">Visit Us</a></li>
      <li><a href="news-landing.html">The Latest</a></li>
      <li><a href="our-values.html">Our Values</a></li>
      <li> {{> social-navigation}}</li>
    </ul>
  </div>
</div>
</div>