<div class="social-cards grid-x">
    <a href="" target="_blank" class="social-card social-card--twitter cell large-6 medium-12 grid-x">
        <span class="social-card__icon fab fa-twitter cell medium-2"></span>
        <div class="cell medium-10">
            <p class="social-card__username">@HerrsSnacks</p>
            <p class="social-card__post-text">When you let the grandkids rollerblade indoors, your living room becomes “the circuit.” - Ed #HerrsForeverGood</p>
        </div>
    </a>
    <a href="" target="_blank" class="social-card social-card--facebook cell large-3 medium-6">
        <span class="social-card__icon fab fa-facebook-f"></span>
        <p class="social-card__post-text">Come out to our factory this week to check out our newest product!</p>
        <p class="social-card__view-link">View Post</p>
    </a>
    <a href="" target="_blank" class="social-card social-card--instagram cell large-3 medium-6" style="background-image: url('assets/img/sparky.jpg');">
        <div class="social-card__overlay">
            <div class="social-card__vertically-center">
                <span class="social-card__icon fab fa-instagram"></span>
                <p class="social-card__post-text">Yea, sure Sparky...<br />I guess I can share...</p>
                <p class="social-card__view-link">View Photo</p>
            </div>
        </div>
    </a>
</div>